body{
    background:  rgb(30, 37, 48) 86%;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(25, 92, 193) 86%);
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif; 
}

#form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    padding:30px;
}

h1{
    text-align: center;
    color:#012551;
}

#form button{
    background-color: #012551;
    color:white;
    border: 1px solid white;
    border-radius: 10px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid #012551 ;
    box-shadow: #121c28;
    
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}